back/__pycache__/
back/routes/__pycache__/
back/business/__pycache__/
back/business/facade/__pycache__/
back/business/services/__pycache__/
back/models/__pycache__/
back/migrations
migrations
front/node_modules
front/.editorconfig
back/local_develop
/.vs/slnx.sqlite
/.vs/slnx.sqlite
gestion/
.vs/
back/python
front-ionic/node_modules
back/graph_access_token.txt
back/graph_next_link.txt
back/utils/__pycache__/
back/utils/__pycache__/
front-ionic/.vscode
back/static/img/qr/*.png
back/text/__pycache__/
back/config.py
back/LVR
back/static/downloads/bitacora/xls/*.xslx
back/env_jonathan
back/.vscode/settings.json